<a href="https://colab.research.google.com/github/alizasultanaesd-png/skill-morph-work/blob/main/introduction_to_pyhton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction**

In [ ]:
print("hello world")

hello world

## **Variable**

In [1]:
# 2.1 Creating variables for your name, age, and favorite color, then print them with descriptive labels
name = "Aliza"
age = 31
is_student = True #boolean
height = 5.9 #float
favorite_color = "purple"
# Printing variables
print("Name:", name)
print("Age:", age)
print("Student status:", is_student)
print("Height:", height, "feet")
print("Favorite Color:", favorite_color)

Name: Aliza
Age: 31
Student status: True
Height: 5.9 feet
Favorite Color: purple

In [2]:
# 2.2 Create one variable of each type and use the type() function to verify its type.
name = "Aliza"
address = 'Khulna'
age = 25
price = 98.50
is_valid = True
has_paid = False
result = None
print(type(name))
print(type(address))
print(type(age))
print(type(price))
print(type(is_valid))
print(type(has_paid))
print(type(result))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'bool'>
<class 'NoneType'>

In [6]:
# 2.3 Calculating the area and perimeter of a rectangle with length 7 and width 5
length = 7
width = 5

area = length * width
perimeter = 2 * (length + width)

print("area of the rectangle:", area)
print("perimeter of the rectangle:", perimeter)

area of the rectangle: 35
perimeter of the rectangle: 24

In [14]:
first = "my"
last = "preceious"
# Concatenation
full = first + " " + last
print(full)  # my precious
# Repetition
repeated = (first + " ") * 3
print(repeated)

#Length
print(len(full))

my preceious
my my my
12

## **Data Structure**

In [1]:
# 2.4 Creating a list of 5 Bangladeshi foods, then access the first and
last elements
bangladeshi_foods = ["Biriyani", "Shorshe Ilish", "Panta Ilish", "Fuchka", "Chingri Malai Curry"]
# Accessing elements (indexing starts at 0)
print(bangladeshi_foods[0])       # Biriyani
print(bangladeshi_foods[4])       # Chingri Malai Curry
# Negative indexing (counts from the end)
print(bangladeshi_foods[-1])      # Chingri Malai Curry
# Slicing lists
print(bangladeshi_foods[1:4])     # ['Shorshe Ilish', 'Panta Ilishâ€™]
# Changing an element
bangladeshi_foods[1] = "alu vorta"
print(bangladeshi_foods)          # ["Biriyani", "alu vorta", "Panta Ilish", "Fuchka", "Chingri Malai Curry"]]

Biriyani
Chingri Malai Curry
Chingri Malai Curry
['Shorshe Ilish', 'Panta Ilish', 'Fuchka']
['Biriyani', 'alu vorta', 'Panta Ilish', 'Fuchka', 'Chingri Malai Curry']

In [5]:
# 2.5 Adding 5 numbers in List
number_list = [10, 11, 20, 21, 30]
number_list.append( 31 )    # Add to end
number_list.insert(1, 8)  # Insert at position
print(number_list)

[10, 8, 11, 20, 21, 30, 31]

In [6]:
# 2.5 Removing number from List
number_list = [10, 11, 20, 21, 30]
number_list.remove(20)    # Remove by value
popped = number_list.pop()    # Remove & return last item
print(popped) # 30
print(number_list)

30
[10, 11, 21]

In [7]:
# 2.5 organinzing / sorting list  of 5 numbers

number_list = [10, 11, 20, 21, 30]
number_list.sort() # Alphabetical order
print(number_list)
number_list.reverse() # Reverse order
print(number_list)

print("Updated and sorted list:", number_list)

[10, 11, 20, 21, 30]
[30, 21, 20, 11, 10]
Updated and sorted list: [30, 21, 20, 11, 10]

In [26]:
# 2.6 Creating a dictionary about yourself with at least 4 key-value pairs.

about_myself = {
"name": "Aliza",
"age": 30,
"university": "GSTU_Gopalganj",
"courses": ["Python", "Data Science", "Web Development"],
"interests": ["Environmental contamination", "Scientific writing"]
}

# Print the dictionary
print(about_myself)

{'name': 'Aliza', 'age': 30, 'university': 'GSTU_Gopalganj', 'courses': ['Python', 'Data Science', 'Web Development'], 'interests': ['Environmental contamination', 'Scientific writing']}

In [28]:
# 2.7 Creating a tuple with latitude and longitude of Shaheed Minar, Dhaka
coordinates = (23.7276, 90.3925)

print("Shaheed Minar Coordinates:", coordinates)

Shaheed Minar Coordinates: (23.7276, 90.3925)

In [ ]:
# 2.7 Createing a tuple
mixed = ("Dhaka", 23.8, True, 2023)
# Single-item tuple needs a comma
single = (42,)  # Without comma: just an int
print(mixed)
print(single)

('Dhaka', 23.8, True, 2023)
(42,)

In [29]:
# 2.8 Creating two set of colors and find their union and intersection
colors1 = {"red", "orange", "yellow"}
colors2 = {"blue", "green", "purple", "yellow"}

# union
all_colors = colors1 | colors2

# intersection
common_colors = colors1 & colors2

print("Union of colors:", all_colors)
print("Intersection of colors:", common_colors)

Union of colors: {'blue', 'purple', 'yellow', 'orange', 'red', 'green'}
Intersection of colors: {'yellow'}

## **Conditional**

In [3]:
# 2.9 Writing a program that checks if a number is positive, negative, or zero
number = int (input("Enter a number: "))

if number > 0:
  print ("The Number is Positive")
elif number < 0:
  print("Number is negative")
else:
  print("The number is 0")

Enter a number: -1
Number is negative

In [8]:
# 2.10 nested if statements: Writing a program that checks eligibility for a discount (student AND under 25, OR senior over 60)

Student = input ("are you a student? (yes/no): ")

age = int(input("enter your age: "))


if (Student=="yes" and age <= 25) or ( age > 60):
        print("You are eligible for discount")
else:
     print("You are not eligible for discount")

are you a student? (yes/no): yes
enter your age: 23
You are eligible for discount

## **Loop**

In [8]:
#2.11  Write a program that prints the first 10 even numbers

i=0
num= 2
while i < 10:
    print(i)
    num += 2
    i = i + 2

0
2
4
6
8

In [13]:
# 2.11 Write a program that prints the first 10 even numbers



for i in range(1, 11):
    print(i * 2)

2
4
6
8
10
12
14
16
18
20

In [16]:
# 2.12 Write a program that prints a simple number pyramid pattern using nested loops

for i in range(1, rows + 1):
    print(" " * (rows - i), end="")
    for j in range(1, i + 1):
        print(j, end=" ")

    print()

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [17]:
# 2.13 Creating a function that converts temperature from Celsius to Fahrenheit using the formula: F = (C Ã— 9/5) + 32

def celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit

temp_c = 25
temp_f = celsius_to_fahrenheit(temp_c)
print(f"{temp_c}Â°C is equal to {temp_f}Â°F")

25Â°C is equal to 77.0Â°F

In [18]:
# 2.14 Creating a function with default parameters that calculates the area of a rectangle.

def calculate_area(length=10, width=5):
    area = length * width
    return area

print("Default area:", calculate_area())
print("Custom area:", calculate_area(7, 3))

Default area: 50
Custom area: 21

In [ ]:
#pattern printing
for i in range(1, 6):
 print("*" * i)

*
**
***
****
*****

## **Function**

In [ ]:
# Defining a simple function
def greet():
  print("Hello! Welcome to Python programming.")
# Calling the function
greet()
# Function with parameters
def greet_person(name):
  print(f"Hello, {name}! How are you today?")
greet_person("Tahmid")  # Hello, Tahmid! How are you today?
# Function with return value
def add_numbers(a, b):
  sum = a + b
  return sum
result = add_numbers(5, 3)
print(f"The sum is {result}")  # The sum is 8

Hello! Welcome to Python programming.
Hello, Tahmid! How are you today?
The sum is 8

In [ ]:
def greet(name, message="Good morning"):
  print(f"{message}, {name}!")
greet("Nadia")  # Good morning, Nadia!
greet("Karim", "Hello")  # Hello, Karim!

Good morning, Nadia!
Hello, Karim!

In [ ]:
def describe_person(name, age, city):
  print(f"{name} is {age} years old from {city}")
# Order doesn't matter with keyword args
describe_person(city="Chittagong", name="Rahim", age=25)

Rahim is 25 years old from Chittagong

In [ ]:
def calculate_stats(numbers):
  total = sum(numbers)
  average = total / len(numbers)
  maximum = max(numbers)
  minimum = min(numbers)
  return total, average, maximum, minimum
stats = calculate_stats([5, 10, 15, 20])
print(stats)  # (50, 12.5, 20, 5)

(50, 12.5, 20, 5)

In [ ]:
total = 0  # Global variable

def add_to_total(value):
    global total  # Access global variable
    total += value
    return total

print(add_to_total(5))  # 5
print(add_to_total(10))  # 15

5
15

In [ ]:
# Math module
import math
print(math.pi)  # 3.141592653589793
print(math.sqrt(16))  # 4.0
# Random module
import random
print(random.randint(1, 10))  # Random number
print(random.choice(["apple", "banana", "orange"]))
 # Datetime module
import datetime
current_date = datetime.datetime.now()
print(current_date)

3.141592653589793
4.0
9
apple
2025-08-15 06:55:34.862773

In [ ]:
# mymath.py
%%writefile mymath.py
def add(a, b):
  return a + b
def subtract(a, b):
  return a - b
PI = 3.14159

Writing mymath.py

In [ ]:
import mymath
print(mymath.add(5, 3))      # 8
print(mymath.subtract(10, 4)) # 6
print(mymath.PI)             # 3.14159

8
6
3.14159